# Build and Release Folders
bin-debug/
bin-release/
bin/
lib/
obj/

#don't upload the old project files
old/

#don't upload assets the old resized cards
src/assets/cards_100x140

#The normal size cards can be uploaded since we may need to work with them in the future.


# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project