# Build and Release Folders
bin-debug/
bin-release/
bin/
lib/
obj/

#don't upload the old project files
old/

#don't upload assets that aren't used by the code
src/assets/cards
src/assets/cards_100x140



# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project